@use "styles/colorpalette" as *
@use "styles/gaps" as *

html, body
  margin: 0
  padding: 0
  background-color: $background-color
  color: $text-color

  overscroll-behavior-y: none
  position: fixed
  width: 100%
  height: 100%
  overflow-y: auto

h1, h2, h3, h4, h5, h6, p, span, a, li
  color: $text-color

h1
  margin-bottom: 1rem
  border-bottom: 1px solid white

h2
  margin-top: 1rem
  margin-bottom: 1rem

.content-section
  width: 100%
  max-width: 1440px
  margin: 0 auto
  box-sizing: border-box
  background-color: $background-color

  padding: 1.5rem 1.5rem

  @media (min-width: 640px)
    padding: 2rem 2.5rem

  @media (min-width: 1024px)
    padding: 3rem 4rem